.risk-factor-container{
    width: 500px;
    height: 500px;
    background-color: gray;
}
.risk-description{
    width: 500px;
    height: 500px;
    background-color: gray;
    margin-left: 100px;
}
.container-infos{
    display: flex;
}

.risk-factor-name{
    border: 1px solid black;
    padding: 5px;
    height: 75px;
    text-align: center;
}
.risk-info{
    border: 1px solid black;
    padding: 10px;
    height: 425px;
    text-align: justify;
}