.R_contents{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid rgb(238, 84, 84);
}
.marker{
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main{
    height: 100vh;
    padding: 15px;
    position: relative;
}