
body{
    min-height: 10vh;
}

.border{
    border: 1px solid black;
}
.d-flex{
    display: flex;
}
.flex-align{
    align-items: center;
}
.flex-justify{
    justify-content: center;

}
.div_main{
    background-color: rgb(181, 247, 247);
}
.div_upg{
    background-color: rgb(172, 52, 52);
    padding: 5px;
}
button{
    padding: 7px;

}