*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login-div{
    background-color: rgb(245, 245, 245);
    padding: 10px;
}


/* Tamanho para telas grandes (lg) */
@media (min-width: 1200px) {
    .max-width-lg {
        max-width: 500px;
    }
}

/* Tamanho para telas médias (md) */
@media (min-width: 768px) and (max-width: 1199px) {
    .max-width-md {
        max-width: 900px;
    }
}

/* Tamanho para telas pequenas (sm) */
@media (min-width: 576px) and (max-width: 767px) {
    .max-width-sm {
        max-width: 400px;
    }
}

/* Tamanho para telas extra pequenas (xs) */
@media (max-width: 575px) {
    .max-width-xs {
        max-width: 400px;
    }
}