body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 450px;
    height: 450px;
}

.card {
    perspective: 1000px; /* Define a perspectiva para o efeito de profundidade */
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* Garante que os filhos mantenham a posição no espaço 3D */
    transition: transform 0.6s ease; /* Transição suave */
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Esconde o verso do elemento durante a animação */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.card-back {
    background-color: gray;
    transform: rotateY(180deg); /* Inicialmente esconde o verso */
}

/* Animação para virar a carta */
.flip {
    transform: rotateY(180deg);
}

#conteudo {
    position: relative;
    width: 450px;
    height: 450px;
    background-color: black;
    border: 1px solid red;
}
.carta {
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: green;
    transform-origin: center;
}

.tela-container{
    width: 500px;
    height: 800px;
    border: 1px solid black
}