*{margin: 0; font-family: Arial;}
.risk-list-content{
    width:1570px;
    height:800px;
    right: -100px;
}
.risk-list{
    width: 600px;
}
.risk-description{
    width: 450px;
    height: 650px;
    border-radius: 15px;
}
.list-content-font{
    border: 1px solid black;
    font-size: 25px;
}
.sel-ext{
    border-radius: 50px;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 2px solid black;
}
.sel-in{
    border-radius: 50px;
    width: 27px;
    height: 27px;
    border: 2px solid black;
    left: 4px;
}
.head-list-font{
    background-color: rgb(81, 81, 252);
    color: white;
    height: 40px;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.list-row:hover{
    background-color: rgb(216, 216, 218);
    cursor: pointer;
}
.risk-texts{
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    margin-top: 50px;
}
.font-risk-name{
    font-size: 25px;
}
#risk-name{
    padding: 5px;
    border-bottom: 2px solid black;
}