body{
    padding: 25px;
}
.risk-matrix-table,tr,td{
    width: 600px;
    height: 150px;
}
td{
    background-color: rgb(72, 190, 62);
    border: 1px solid white;
    position: relative;
    max-width: 150px;
    max-height: 37.5px;
    padding: 0;
    margin: 0;
}
.cell{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}
.marker{
    width: 30px;
    height: 30px;
    background-color: darkred;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-div{
    height: 20px;
    width: 100%;
}
    /* .marker-place{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    } */