body{
    padding: 25px;
}
.risk-matrix-table,tr,td{
    width: 600px;
    height: 150px;
}
td{
    background-color: rgb(72, 190, 62);
    border: 1px solid white;
    position: relative;
    max-width: 150px;
    max-height: 37.5px;
    padding: 0;
    margin: 0;
}
.cell{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}
.marker{
    width: 30px;
    height: 30px;
    background-color: darkred;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-div{
    height: 20px;
    width: 100%;
}
    /* .marker-place{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #ffffff;
    color: #000000;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    opacity: 0;
    box-shadow: 1px 1px 3px #222222;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}